{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Fou de Série! ✅</h1>

    Toi aussi tu est fou de série?<br>
    Dit nous se que tu regarde en se moment mais pas de spoil svp.

    <br>
    <img src="{{ asset('images/image1.png') }}" alt="Symfony!"/>


</div>
{% endblock %}
